@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');



/***
    MAIN_STYLES
*/
:root {
    --mainColor100: #609ED4;
    --mainColor200: #356EA9;
    --mainColor300: #0A3871;
    --mainColor400: #072B61;
    --mainColor500: #052051;

    --secondaryColor100: #F3F5FC;
    --secondaryColor200: #EFF1FA;
    --secondaryColor300: #E9ECF8;
    --secondaryColor400: #AAB2D5;
    --secondaryColor500: #757FB2;


    --grayColor100: #CED4DA;
    --grayColor200: #ADB5BD;
    --grayColor300: #868E96;
    --grayColor400: #495057;
    --grayColor500: #343A40;

    --white: #ffffff;
}

/* 

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <slant>: Use a value from -10 to 0

font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" <slant>; */

/*  
    DESKTOP SIZE
*/


body {
    /* background-color: blanchedalmond; */
    width: 100vw;
    height: 100vh;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;

}

/* - Main Frame */

#mainFrame {
    /* background-color: rgb(0, 177, 221); */

    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}


/* -- displayer Module */

#displayerModule {
    background-color: var(--secondaryColor100);

    width: 100%;
    height: 96.5%;
    display: flex;

    flex-direction: row;
}


/* --- header Component */

#headerComponent {
    /* background-color: rgb(53, 255, 107); */

    width: 6.46%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2.77%;
    gap: 5.52%;
}

/* ---- iconCompany Wrapper */

#iconCompanyWrapper {
    /* background-color: chocolate; */
    height: 7.5%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

}

/* ----- iconCompany Element */

#iconCompanyElement {
    /* background-color: rgb(108, 66, 35); */
    content: url('../svg/aluraSingleLogo.svg');
    height: 100%;
    width: auto;

}


/* ---- iconPartner Wrapper */

#iconPartnerWrapper {
    /* background-color: rgb(23, 201, 47); */
    height: 7.5%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* ----- iconCompany Element */

#iconPartnerElement {
    /* background-color: rgb(255, 255, 255); */
    content: url('../svg/oracleOneSingleLogo.svg');
    height: 100%;
    width: auto;

}







/* --- inputText Component */

#inputTextComponent {
    /* background-color: rgb(75, 255, 195); */

    width: 49.15%;
    height: auto;
    display: flex;

    padding: 9rem 2.77% 5.03% 2.77%;
}





/* ---- inputText Wrapper */

#inputTextWrapper {
    /* background-color: rgb(194, 95, 255); */

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}


/* ----- inputText Element */

.textarea {
    /* background: rgb(255, 167, 52); */

    border: none;

    flex: 1;
    padding: 1%;
    margin: 0;
    height: auto;
    white-space: pre-wrap;

    word-break: break-all;

    display: block;
    width: 100%;
    overflow: auto;
    resize: none;
    min-height: 11rem;

    box-sizing: border-box;
    line-height: 2.5rem;

    font-size: 2rem;
    color: var(--mainColor300);

}

.textarea[contenteditable]:empty::before {
    content: "Ingrese el texto aqui";
    color: var(--mainColor300);
}

.textarea:focus-visible {
    border: none;
    outline: none;
}

/* ----- inputTextWarning Holder */

#inputTextWarningHolder {
    /* background: rgb(200, 255, 90); */
    height: auto;

    display: flex;
    gap: 1%;
    margin: 0.5rem;
}


/* ------ iconTextWarning Element */

#iconTextWarningElement {
    /* background: rgb(202, 255, 236); */

    content: url('../svg/alertIcon.svg');

    height: 100%;
    width: 1.5rem;
}


/* ------ statusTextWarning Element */

#statusTextWarningElement {
    /* background: rgb(106, 116, 255); */


    font-size: 1.1rem;
    color: var(--grayColor400);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-weight: 500;

    width: 100%;

}



/* ----- inputSubmit Holder */

#inputSubmitHolder {
    /* background: rgb(145, 157, 255); */

    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}




/* --- outputText Component */

#outputTextComponent {
    /* background-color: rgb(30, 182, 0); */

    width: 27.77%;
    height: auto;
    display: flex;

    padding: 2.77%;



}







/* ---- outputText Wrapper */

#outputTextWrapper {
    background-color: var(--white);
    border-radius: 1.1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
    gap: 4%;

    -webkit-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.085);
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.085);
}


/* ----- outputText Element */

#outputTextElement {
    /* background-color: rgba(216, 235, 255, 0.933); */
    height: 100%;
    overflow: auto;

    font-size: 1.5rem;
    color: var(--grayColor400);
    letter-spacing: 0.03rem;
    line-height: 1.8rem;

    word-break: break-all;
}




/* ---- outputNotFound Holder */

#outputNotFoundHolder {
    /* background-color: rgba(192, 109, 255, 0.933); */
    height: 100%;
}


/* ----- outputNotFoundImage Element */

#outputNotFoundImageElement {
    content: url('../svg/notFoundImg.svg');
    width: 100%;
    height: auto;
}

/* ----- outputNotFoundText Container */

#outputNotFoundTextContainer {
    /* background-color: rgba(109, 192, 255, 0.933); */
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


#outputNotFoundTextContainer>.TitleElement {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 120%;
    font-weight: 700;

    color: var(--grayColor500);
}

#outputNotFoundTextContainer>.TextElement {
    color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 150%;

    color: var(--grayColor400);
}













/* -- footer Module */

#footerModule {
    background-color: var(--secondaryColor400);

    width: 100%;
    height: 3.5%;
    display: flex;
    justify-content: space-around;
}



/* ----- footerText Element */
#footerTextElement {
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
    font-variation-settings: "slnt" -10;
    text-align: center;
    display: flex;
    align-items: center;
}


/* ----- iconLinkedIn Wrapper */
#iconLinkedInWrapper {
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

/* ----- iconLinkedIn Element */

#iconLinkedInElement {
    content: url('../svg/githubLogo.svg');
    height: 100%;
    width: auto;
}



/*  
    TABLET SIZE
*/

@media only screen and (max-width: 768px) {

    body {
        width: 100%;
    }

    /* --displayer Module */

    #displayerModule {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


    #headerComponent {
        height: auto;
        width: 89.58%;
        padding: 7% 5.21% 5.21% 5.21%;

        flex-direction: row;
    }



    #iconCompanyWrapper {
        width: 8.04%;
        display: table;
        height: 0 !important;
    }

    #iconCompanyElement {
        height: auto;
        width: 100%;
    }


    #iconPartnerWrapper {
        width: 12.04%;
        height: 100%;
    }

    #iconPartnerElement {
        height: auto;
        width: 100%;
    }





    #inputTextComponent {
        height: 100%;
        width: 89.58%;
        padding: 8% 5.21% 5.03% 5.21%;
    }

    #inputTextElement {
        min-height: 12rem;
    }


    #iconTextWarningElement {
        padding: 0;
        height: 100%;
        width: 1.5rem;
    }



    #inputSubmitHolder {
        flex-direction: column;
        row-gap: 0.7rem;
    }



    #outputTextComponent {
        height: auto;
        width: 89.58%;
        padding: 5.21%;
    }

    #outputTextWrapper {
        height: auto;

        gap: 2.5rem;
    }

    #outputTextElement {
        height: auto;
        overflow: hidden;
    }

    #outputNotFoundImageElement {
        display: none;
    }

}












/*  
    PHONE SIZE
*/

@media only screen and (max-width: 375px) {


    #headerComponent {
        padding: 6.39% 4.26%;
        width: 91.48%;
    }

    #inputTextComponent {
        width: 91.48%;
        padding: 8% 4.26% 5.03% 4.26%;
    }


    #outputTextComponent {
        height: auto;
        width: 91.48%;
        padding: 4.26%;
    }

    #outputTextWrapper {
        height: auto;
        gap: 1.5rem;
    }

}