.noDisplay {
    display: none !important;
}


/* Button Styled */

.fullSizedButton {
    width: 100% !important;
}

.halfSizeButton {
    width: 48% !important;
}

.filledButton {
    background-color: var(--mainColor300);
    border: none;
    color: var(--white);
}

.filledButton:hover {
    background-color: var(--mainColor400);
}

.filledButton:active {
    background-color: var(--mainColor500);
}



.unfilledButton {
    background-color: var(--white);

    color: var(--mainColor300);
    border-color: var(--mainColor300);
    border-width: 0.12rem;
    border-style: solid;
}

.unfilledButton:hover {
    background-color: var(--secondaryColor200);
}

.unfilledButton:active {
    background-color: var(--secondaryColor300);
}



.styledButton {
    min-height: 3.5rem;
    width: 100%;

    font-weight: 400;
    font-size: 1rem;

    border-radius: 1.1rem;
}



/* no select prop */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently 
                                    supported by Chrome and Opera */
}

/* BUZZ EFFECT FOR WARNING*/
@keyframes buzz {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}


.buzz-effect {
    animation: buzz 0.7s;
}

.red-effect {
    color: red !important;
    transition: color 0.2s ease-out !important;
}

.red-effect img {
    filter: hue-rotate(0deg) brightness(0.5) !important;
    transition: filter 0.7s ease-in-out;
}